.faq {
	width: 100%;

	&__main {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
		gap: 32px;

		@media (max-width: 1023px) {
			display: block !important;
		}

		&-list {
			width: 100%;

			.faq__heading {
				width: 100%;

				@media (max-width: 1023px) {
					text-align: center;
				}
			}

			.faqItem {
				width: 100%;

				&:first-child {
					margin-block-start: unset !important;
				}

				&:not(:first-child) {
					margin-block-start: 24px !important;
				}

				&__head {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px dashed #000000;
					padding-bottom: 12px;

					&-title {
						cursor: pointer;
					}

					&-drop {
						cursor: pointer;
						width: 10px;
						height: 5px;
						display: block;
						margin-block: auto;
						transform: rotate(180deg);
						transition-duration: 0.3s;

						img {
							display: block;
						}
					}
				}

				&__main {
					margin-block-start: 12px !important;
					border-bottom: 1px dashed #000000;
					padding-bottom: 12px;
					display: none;
				}

				&.active {
					.faqItem__head-drop {
						transform: rotate(0deg);
					}

					.faqItem__main {
						display: block;
					}
				}
			}
		}

		&-images {
			width: 100%;
			margin-block-start: unset !important;
			position: relative;

			@media (max-width: 1023px) {
				display: none;
			}

			.images-item {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				max-height: 100%;
				display: none;
				margin-block-start: unset !important;
				animation: showAnimation ease-in-out 0.3s;

				.components-resizable-box__container {
					width: 100% !important;
					height: 100% !important;
					max-height: 100% !important;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&.active {
					display: block;
				}
			}
		}
	}
}