footer {
    background-color: #e2e8f0;
    display: flex;
    justify-content: center;
    padding: 0 var(--padding-content);
}

#footer {
    width: 100%;
    max-width: var(--max-width-content);

    .footer-main {
        display: grid;
        grid-template-columns: 7fr 5fr;
        column-gap: 32px;
        align-items: start;

        @media (max-width: 1023px) {
            flex-direction: column;
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }

    .footer-content-last {
        & .footer-group-icon:first-child {
            margin: 0;
        }

        .wp-block-button__link {
            border: 1px solid #0a0a0a;
            border-radius: 5px;
            padding: 8px 24px;
            font-weight: 700;
            line-height: 27px;
            color: #0a0a0a;
        }
    }

    .footer-group-icon {
        display: flex;
        align-items: center;
        margin-top: 16px;

        div {
            width: 24px;
            height: 24px;
            justify-content: center;
            display: flex;
        }

        p {
            font-weight: 600;
            line-height: 27px;
        }
    }

    .wp-block-social-links {
        margin: 32px 0;
    }

    hr {
        color: #0a0a0a;
    }

    &>p {
        line-height: 27px;
        color: #737373;
        font-weight: 500;
    }
}