#our-services {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 var(--padding-content);

	.our-services__main {
		width: 100%;
		max-width: var(--max-width-content);
		row-gap: unset !important;
		column-gap: var(--grid-gap-content);
	}

	@media (max-width: 1023px) {
		padding-top: 50px !important;
		padding-bottom: 50px !important;

		.our-services-last {
			grid-column: span 12;
		}

		.our-services-first {
			display: none;
		}

		.our-services-last .our-services-item:nth-child(2) {
			margin-top: 10px !important;
		}

		.our-services-item {
			margin-top: 20px !important;
		}
	}

	.our-services-first {
		border-radius: 10px;
		overflow: hidden;
		background-size: 100% 100%;
		background-position: center;
		background-image: unset !important;

		.our-services-first-row {
			.our-services-first-row-item {
				animation: showAnimation ease-in-out 0.3s;
				display: none;

				&.active {
					display: block;
				}
			}
		}
	}

	.our-services-title {
		line-height: 72px;
	}

	.our-services-last {
		display: flex;
		flex-direction: column;

		.our-services-item {
			margin-top: 32px;
			align-items: start;

			img,
			figure {
				min-width: 24px;
			}
			& > div {
				column-gap: 16px;
				row-gap: 5px !important;
			}

			.our-services-item-title {
				line-height: 36px;
				cursor: pointer;

				a {
					text-decoration: none !important;
				}
			}

			.our-services-item-description {
				line-height: 28px;
			}
		}
	}

	.our-services-last .our-services-item:nth-child(2) {
		margin-top: 24px;
	}
}
