.service-header {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: var(--height-header);

	&__main {
		width: 100%;
		max-width: var(--max-width-content);
		padding: 64px var(--padding-content);
	}

	&__title {
		line-height: var(--line-height-max);
	}

	&_description {
		line-height: var(--line-height-s);
	}
}
