:root {
	--max-width-header: 1570px;
	--max-width-content: 1400px;
	--padding-content: 20px;
}

html {
	font-size: 18px;
}

header {
	width: 100%;
	background-color: transparent;
	transition: background-color linear 0.1s;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	#header {
		width: 100%;
		max-width: var(--max-width-header);
		padding: 24px var(--padding-content);
	}

	&.active {
		background-color: white;
	}
}

/* Desktop */

/* Navigation */
.navigation {
	.wp-block-navigation__responsive-container {
		--width-content: 500px;
		--spacing-content: -700px;
		box-sizing: border-box;
		display: flex !important;
		width: 100% !important;
		max-width: var(--width-content) !important;
		height: 100vh !important;
		left: unset !important;
		overflow: unset !important;
		animation: unset !important;
		right: var(--spacing-content) !important;
		transition-property: transform;
		transition: 0.2s ease-in-out;

		& .wp-block-navigation__responsive-close::after {
			content: "";
			position: fixed;
			opacity: 0;
			width: 100vw;
			height: 100vh;
			top: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.48);
			backdrop-filter: blur(4px);
			pointer-events: none;
			z-index: 1;
			transition: right 0.3s ease-in-out;
		}

		&.has-modal-open {
			right: 0 !important;

			& .wp-block-navigation__responsive-close::after {
				opacity: 1;
				right: var(--width-content);
			}
		}
	}
}

/* Footer */
footer {
	background-color: #e2e8f0;
	display: flex;
	justify-content: center;
	padding: 0 var(--padding-content);
}

#footer {
	width: 100%;
	max-width: var(--max-width-content);

	.footer-main {
		display: grid;
		grid-template-columns: 7fr 5fr;
		column-gap: 32px;
		align-items: start;
	}

	.footer-content-first {
	}

	.footer-content-last {
		& .footer-group-icon:first-child {
			margin: 0;
		}

		.wp-block-button__link {
			border: 1px solid #0a0a0a;
			border-radius: 5px;
			padding: 8px 24px;
			font-weight: 700;
			line-height: 27px;
			color: #0a0a0a;
		}
	}

	.footer-group-icon {
		display: flex;
		align-items: center;
		margin-top: 16px;

		div {
			width: 24px;
			height: 24px;
			justify-content: center;
			display: flex;
		}

		p {
			font-weight: 600;
			line-height: 27px;
		}
	}

	.wp-block-social-links {
		margin: 32px 0;
	}

	hr {
		color: #0a0a0a;
	}

	& > p {
		line-height: 27px;
		color: #737373;
		font-weight: 500;
	}
}

/* Tablet */
@media (max-width: 1024px) {
	#footer {
		.footer-main {
			flex-direction: column;
		}
	}
}

/* Mobile */
@media (max-width: 600px) {
	:root {
		--padding-content: 15px;
	}

	#header {
		padding: var(--padding-content) !important;
	}

	#footer {
		.footer-main {
			grid-template-columns: 1fr;
		}
	}

	.navigation .wp-block-navigation__responsive-close::after {
		display: none !important;
	}
}
