@import "./_initial.scss";
@import "./_animation.scss";
/* start common */
@import "./_header.scss";
@import "./_navigation.scss";
@import "./_footer.scss";
@import "./_social.scss";
/* end common */

/* start the home page block */
@import "./_slider.scss";
@import "./_our-client.scss";
@import "./_our-services.scss";
@import "./_faq.scss";
/* start the home page block */

/* start the service page block */
/* start the service page block */

/* start the project page block */
/* start the project page block */

/* start the about page block */
@import "./_about.scss";
@import "./_project_counter.scss";
@import "./_our-team.scss";
/* start the about page block */

/* start the contact page block */

@import "./_contact.scss";
/* start the contact page block */

/* start the not found page block */
@import "./not-found.scss";
/* start the not found page block */

.wp-admin {
	.is-root-container {
		background-color: white !important
		;
	}
}
 
:where(.wp-site-blocks) > * {
	margin-block: 0 !important;
}

.stroke-text {
	color: transparent;
	-webkit-text-stroke: 1px black;
	text-stroke: 1px black;
}
