<!-- wp:template-part {"slug":"header","theme":"themeCustom","area":"header"} /-->

<!-- wp:group {"className":"service-header","layout":{"type":"default"}} -->
<div class="wp-block-group service-header">
    <!-- wp:group {"className":"service-header__main","layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group service-header__main">
        <!-- wp:heading {"className":"service-header__title","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"max"} -->
        <h2 class="wp-block-heading service-header__title has-black-800-color has-text-color has-link-color has-max-font-size"
            style="font-style:normal;font-weight:700">Architectural CGI</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","className":"service-header__description","style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
        <p
            class="has-text-align-center service-header__description has-gray-800-color has-text-color has-link-color has-s-font-size">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae
            est. Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"categories":["featured"],"patternName":"themeCustom/faq","name":"FAQ"},"attributesForBlocks":{"data-aos":"fade-up"},"className":"wp-block-template-part","layout":{"type":"default"}} -->
<div class="wp-block-group wp-block-template-part" data-aos="fade-up">
    <!-- wp:group {"className":"faq","style":{"spacing":{"margin":{"top":"64px","bottom":"64px"}}},"layout":{"type":"default"}} -->
    <div id="faq" class="wp-block-group faq" style="margin-top:64px;margin-bottom:64px">
        <!-- wp:group {"className":"faq-main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group faq-main" style="margin-top:0px;margin-bottom:0px">
            <!-- wp:group {"className":"faq-item__content","layout":{"type":"grid","columnCount":12,"minimumColumnWidth":null}} -->
            <div class="wp-block-group faq-item__content">
                <!-- wp:group {"className":"faq-item__content-first","style":{"layout":{"columnSpan":4}},"layout":{"type":"default"}} -->
                <div class="wp-block-group faq-item__content-first">
                    <!-- wp:group {"className":"faq-item__title-grid","style":{"layout":{"columnSpan":4}},"layout":{"type":"grid","columnCount":12,"minimumColumnWidth":null}} -->
                    <div class="wp-block-group faq-item__title-grid">
                        <!-- wp:group {"className":"faq-item__content-infomation","style":{"layout":{"columnSpan":12}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
                        <div class="wp-block-group faq-item__content-infomation">
                            <!-- wp:group {"className":"faq-item__content-title","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                            <div class="wp-block-group faq-item__content-title"><!-- wp:heading {"fontSize":"xl"} -->
                                <h2 class="wp-block-heading has-xl-font-size">Lorem ipsum dolor sit amet</h2>
                                <!-- /wp:heading -->

                                <!-- wp:image {"id":107,"width":"24px","height":"24px","scale":"contain","sizeSlug":"full","linkDestination":"none"} -->
                                <figure class="wp-block-image size-full is-resized"><img
                                        src="http://interior.test:3000/wp-content/uploads/2024/09/arrow_drop_up_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24-1.png"
                                        alt="drop-down-icon" class="wp-image-107"
                                        style="object-fit:contain;width:24px;height:24px" /></figure>
                                <!-- /wp:image -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:paragraph {"className":"faq-item__content-description","style":{"color":{"text":"#737373"},"elements":{"link":{"color":{"text":"#737373"}}}},"fontSize":"s"} -->
                            <p class="faq-item__content-description has-text-color has-link-color has-s-font-size"
                                style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                ac
                                augue at
                                erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi
                                ullamcorper
                                metus, id
                                hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per
                                conubia
                                nostra,
                                per inceptos himenaeos.</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"className":"faq-item__content-image","style":{"layout":{"columnSpan":12}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group faq-item__content-image">
                            <!-- wp:image {"id":108,"sizeSlug":"full","linkDestination":"none"} -->
                            <figure class="wp-block-image size-full"><img
                                    src="http://interior.test:3000/wp-content/uploads/2024/09/3d-rendering-cartoon-house.png"
                                    alt="faq-image" class="wp-image-108" /></figure>
                            <!-- /wp:image -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"className":"faq-item__title-grid","style":{"layout":{"columnSpan":4}},"layout":{"type":"grid","columnCount":12,"minimumColumnWidth":null}} -->
                    <div class="wp-block-group faq-item__title-grid">
                        <!-- wp:group {"className":"faq-item__content-infomation","style":{"layout":{"columnSpan":12}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
                        <div class="wp-block-group faq-item__content-infomation">
                            <!-- wp:group {"className":"faq-item__content-title","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                            <div class="wp-block-group faq-item__content-title"><!-- wp:heading {"fontSize":"xl"} -->
                                <h2 class="wp-block-heading has-xl-font-size">Lorem ipsum dolor sit amet</h2>
                                <!-- /wp:heading -->

                                <!-- wp:image {"id":107,"width":"24px","height":"24px","scale":"contain","sizeSlug":"full","linkDestination":"none"} -->
                                <figure class="wp-block-image size-full is-resized"><img
                                        src="http://interior.test:3000/wp-content/uploads/2024/09/arrow_drop_up_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24-1.png"
                                        alt="drop-down-icon" class="wp-image-107"
                                        style="object-fit:contain;width:24px;height:24px" /></figure>
                                <!-- /wp:image -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:paragraph {"className":"faq-item__content-description","style":{"color":{"text":"#737373"},"elements":{"link":{"color":{"text":"#737373"}}}},"fontSize":"s"} -->
                            <p class="faq-item__content-description has-text-color has-link-color has-s-font-size"
                                style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                ac
                                augue at
                                erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi
                                ullamcorper
                                metus, id
                                hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per
                                conubia
                                nostra,
                                per inceptos himenaeos.</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"className":"faq-item__content-image","style":{"layout":{"columnSpan":12}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group faq-item__content-image">
                            <!-- wp:image {"id":108,"sizeSlug":"full","linkDestination":"none"} -->
                            <figure class="wp-block-image size-full"><img
                                    src="http://interior.test:3000/wp-content/uploads/2024/09/3d-rendering-cartoon-house.png"
                                    alt="faq-image" class="wp-image-108" /></figure>
                            <!-- /wp:image -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"className":"faq-item__title-grid","style":{"layout":{"columnSpan":4}},"layout":{"type":"grid","columnCount":12,"minimumColumnWidth":null}} -->
                    <div class="wp-block-group faq-item__title-grid">
                        <!-- wp:group {"className":"faq-item__content-infomation","style":{"layout":{"columnSpan":12}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
                        <div class="wp-block-group faq-item__content-infomation">
                            <!-- wp:group {"className":"faq-item__content-title","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                            <div class="wp-block-group faq-item__content-title"><!-- wp:heading {"fontSize":"xl"} -->
                                <h2 class="wp-block-heading has-xl-font-size">Lorem ipsum dolor sit amet</h2>
                                <!-- /wp:heading -->

                                <!-- wp:image {"id":107,"width":"24px","height":"24px","scale":"contain","sizeSlug":"full","linkDestination":"none"} -->
                                <figure class="wp-block-image size-full is-resized"><img
                                        src="http://interior.test:3000/wp-content/uploads/2024/09/arrow_drop_up_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24-1.png"
                                        alt="drop-down-icon" class="wp-image-107"
                                        style="object-fit:contain;width:24px;height:24px" /></figure>
                                <!-- /wp:image -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:paragraph {"className":"faq-item__content-description","style":{"color":{"text":"#737373"},"elements":{"link":{"color":{"text":"#737373"}}}},"fontSize":"s"} -->
                            <p class="faq-item__content-description has-text-color has-link-color has-s-font-size"
                                style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                ac
                                augue at
                                erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi
                                ullamcorper
                                metus, id
                                hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per
                                conubia
                                nostra,
                                per inceptos himenaeos.</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"className":"faq-item__content-image","style":{"layout":{"columnSpan":12}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group faq-item__content-image">
                            <!-- wp:image {"id":108,"sizeSlug":"full","linkDestination":"none"} -->
                            <figure class="wp-block-image size-full"><img
                                    src="http://interior.test:3000/wp-content/uploads/2024/09/3d-rendering-cartoon-house.png"
                                    alt="faq-image" class="wp-image-108" /></figure>
                            <!-- /wp:image -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"className":"faq-item__title-grid","style":{"layout":{"columnSpan":4}},"layout":{"type":"grid","columnCount":12,"minimumColumnWidth":null}} -->
                    <div class="wp-block-group faq-item__title-grid">
                        <!-- wp:group {"className":"faq-item__content-infomation","style":{"layout":{"columnSpan":12}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
                        <div class="wp-block-group faq-item__content-infomation">
                            <!-- wp:group {"className":"faq-item__content-title","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                            <div class="wp-block-group faq-item__content-title"><!-- wp:heading {"fontSize":"xl"} -->
                                <h2 class="wp-block-heading has-xl-font-size">Lorem ipsum dolor sit amet</h2>
                                <!-- /wp:heading -->

                                <!-- wp:image {"id":107,"width":"24px","height":"24px","scale":"contain","sizeSlug":"full","linkDestination":"none"} -->
                                <figure class="wp-block-image size-full is-resized"><img
                                        src="http://interior.test:3000/wp-content/uploads/2024/09/arrow_drop_up_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24-1.png"
                                        alt="drop-down-icon" class="wp-image-107"
                                        style="object-fit:contain;width:24px;height:24px" /></figure>
                                <!-- /wp:image -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:paragraph {"className":"faq-item__content-description","style":{"color":{"text":"#737373"},"elements":{"link":{"color":{"text":"#737373"}}}},"fontSize":"s"} -->
                            <p class="faq-item__content-description has-text-color has-link-color has-s-font-size"
                                style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                ac
                                augue at
                                erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi
                                ullamcorper
                                metus, id
                                hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per
                                conubia
                                nostra,
                                per inceptos himenaeos.</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"className":"faq-item__content-image","style":{"layout":{"columnSpan":12}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group faq-item__content-image">
                            <!-- wp:image {"id":108,"sizeSlug":"full","linkDestination":"none"} -->
                            <figure class="wp-block-image size-full"><img
                                    src="http://interior.test:3000/wp-content/uploads/2024/09/3d-rendering-cartoon-house.png"
                                    alt="faq-image" class="wp-image-108" /></figure>
                            <!-- /wp:image -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"className":"faq-item__title-grid","style":{"layout":{"columnSpan":4}},"layout":{"type":"grid","columnCount":12,"minimumColumnWidth":null}} -->
                    <div class="wp-block-group faq-item__title-grid">
                        <!-- wp:group {"className":"faq-item__content-infomation","style":{"layout":{"columnSpan":12}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"stretch"}} -->
                        <div class="wp-block-group faq-item__content-infomation">
                            <!-- wp:group {"className":"faq-item__content-title","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                            <div class="wp-block-group faq-item__content-title"><!-- wp:heading {"fontSize":"xl"} -->
                                <h2 class="wp-block-heading has-xl-font-size">Lorem ipsum dolor sit amet</h2>
                                <!-- /wp:heading -->

                                <!-- wp:image {"id":107,"width":"24px","height":"24px","scale":"contain","sizeSlug":"full","linkDestination":"none"} -->
                                <figure class="wp-block-image size-full is-resized"><img
                                        src="http://interior.test:3000/wp-content/uploads/2024/09/arrow_drop_up_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24-1.png"
                                        alt="drop-down-icon" class="wp-image-107"
                                        style="object-fit:contain;width:24px;height:24px" /></figure>
                                <!-- /wp:image -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:paragraph {"className":"faq-item__content-description","style":{"color":{"text":"#737373"},"elements":{"link":{"color":{"text":"#737373"}}}},"fontSize":"s"} -->
                            <p class="faq-item__content-description has-text-color has-link-color has-s-font-size"
                                style="color:#737373">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                ac
                                augue at
                                erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi
                                ullamcorper
                                metus, id
                                hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per
                                conubia
                                nostra,
                                per inceptos himenaeos.</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"className":"faq-item__content-image","style":{"layout":{"columnSpan":12}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group faq-item__content-image">
                            <!-- wp:image {"id":108,"sizeSlug":"full","linkDestination":"none"} -->
                            <figure class="wp-block-image size-full"><img
                                    src="http://interior.test:3000/wp-content/uploads/2024/09/3d-rendering-cartoon-house.png"
                                    alt="faq-image" class="wp-image-108" /></figure>
                            <!-- /wp:image -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"faq-image-desktop","style":{"layout":{"columnSpan":8}},"layout":{"type":"default"}} -->
                <div class="wp-block-group faq-image-desktop"></div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:query {"queryId":5,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"perPage":10},"metadata":{"categories":["featured"],"patternName":"themeCustom/project-list","name":"Project List"},"attributesForBlocks":{"data-aos":"fade-up"},"align":"wide","className":"product-list","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide product-list" data-aos="fade-up">
    <!-- wp:heading {"textAlign":"center","level":1,"className":"product-list__title","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}},"spacing":{"margin":{"bottom":"48px"}}},"textColor":"black-800","fontSize":"max"} -->
    <h1 class="wp-block-heading has-text-align-center product-list__title has-black-800-color has-text-color has-link-color has-max-font-size"
        style="margin-bottom:48px;font-style:normal;font-weight:700">Project</h1>
    <!-- /wp:heading -->

    <!-- wp:post-template {"align":"wide","className":"product-list__template","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":4}} -->
    <!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"clamp(15vw, 30vh, 400px)","align":"wide","className":"product-list__featured-image"} /-->
    <!-- /wp:post-template -->
</div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"themeCustom","area":"footer","attributesForBlocks":{"data-aos":"fade-up"}} /-->