<!-- wp:template-part {"slug":"header","theme":"themeCustom","area":"header"} /-->

<!-- wp:group {"className":"contact","layout":{"type":"default"}} -->
<div class="wp-block-group contact">
    <!-- wp:group {"className":"contact__main","layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
    <div class="wp-block-group contact__main">
        <!-- wp:group {"className":"contact__main-header","style":{"spacing":{"padding":{"top":"0px","bottom":"0px"},"margin":{"top":"64px","bottom":"64px"}}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
        <div class="wp-block-group contact__main-header"
            style="margin-top:64px;margin-bottom:64px;padding-top:0px;padding-bottom:0px">
            <!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}},"spacing":{"margin":{"bottom":"24px"}}},"textColor":"black-800","fontSize":"max"} -->
            <h2 class="wp-block-heading has-black-800-color has-text-color has-link-color has-max-font-size"
                style="margin-bottom:24px"><strong>Contact Us</strong></h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
            <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget
                sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"attributesForBlocks":{"@data-aos":"fade-up"},"className":"contact__main-content","style":{"spacing":{"margin":{"top":"64px","bottom":"64px"}}},"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
        <div class="wp-block-group contact__main-content" style="margin-top:64px;margin-bottom:64px" data-aos="fade-up">
            <!-- wp:group {"className":"contact__main-content-first","layout":{"type":"grid","columnCount":6,"minimumColumnWidth":null}} -->
            <div class="wp-block-group contact__main-content-first">
                <!-- wp:group {"className":"contact__main-content-image","style":{"layout":{"columnSpan":5}},"layout":{"type":"default"}} -->
                <div class="wp-block-group contact__main-content-image">
                    <!-- wp:image {"sizeSlug":"full","linkDestination":"none"} -->
                    <figure class="wp-block-image size-full"><img /></figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"contact__main-content-social","style":{"layout":{"columnSpan":3}},"backgroundColor":"white","layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
                <div class="wp-block-group contact__main-content-social has-white-background-color has-background">
                    <!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}},"spacing":{"margin":{"bottom":"24px"}}},"textColor":"black-800","fontSize":"xl"} -->
                    <h2 class="wp-block-heading has-black-800-color has-text-color has-link-color has-xl-font-size"
                        style="margin-bottom:24px"><strong>Follow Us</strong></h2>
                    <!-- /wp:heading -->

                    <!-- wp:template-part {"slug":"social","theme":"themeCustom","area":"uncategorized"} /-->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"contact__main-content-last","layout":{"type":"default"}} -->
            <div class="wp-block-group contact__main-content-last">
                <!-- wp:heading {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"max"} -->
                <h1 class="wp-block-heading has-black-800-color has-text-color has-link-color has-max-font-size"
                    style="font-style:normal;font-weight:700">Get in touch</h1>
                <!-- /wp:heading -->

                <!-- wp:contact-form-7/contact-form-selector {"id":223,"hash":"520c72c","title":"Contact Form","className":"contact-form"} -->
                <div class="wp-block-contact-form-7-contact-form-selector contact-form">[contact-form-7 id="520c72c"
                    title="Contact Form"]</div>
                <!-- /wp:contact-form-7/contact-form-selector -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"attributesForBlocks":{"@data-aos":"fade-up"},"className":"contact__main-map","style":{"spacing":{"margin":{"top":"64px","bottom":"64px"}}},"layout":{"type":"grid","columnCount":12,"minimumColumnWidth":null}} -->
        <div class="wp-block-group contact__main-map" style="margin-top:64px;margin-bottom:64px" data-aos="fade-up">
            <!-- wp:group {"className":"contact__main-map-content","style":{"layout":{"columnSpan":7}},"layout":{"type":"default"}} -->
            <div class="wp-block-group contact__main-map-content"><!-- wp:html -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14893.462760280083!2d105.81352216129602!3d21.058051714345858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aafe7260066b%3A0x4c2c988309aaa3db!2sWest%20Lake!5e0!3m2!1sen!2s!4v1727104183056!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- /wp:html -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"contact__main-map-text","style":{"layout":{"columnSpan":5}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
            <div class="wp-block-group contact__main-map-text">
                <!-- wp:heading {"level":1,"className":"contact__main-map-title","style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"64px"}}} -->
                <h1 class="wp-block-heading contact__main-map-title"
                    style="font-size:64px;font-style:normal;font-weight:700">Houston</h1>
                <!-- /wp:heading -->

                <!-- wp:paragraph {"className":"contact__main-map-label","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"xl"} -->
                <p class="contact__main-map-label has-xl-font-size" style="font-style:normal;font-weight:600">North
                    america</p>
                <!-- /wp:paragraph -->

                <!-- wp:group {"className":"contact__main-map-group","style":{"spacing":{"margin":{"bottom":"16px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
                <div class="wp-block-group contact__main-map-group" style="margin-bottom:16px">
                    <!-- wp:image {"width":"20px","height":"20px","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
                    <figure class="wp-block-image size-full is-resized"><img
                            style="object-fit:cover;width:20px;height:20px" /></figure>
                    <!-- /wp:image -->

                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
                    <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">123 maple avenue,
                        houston, tx 56034</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"contact__main-map-group","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group contact__main-map-group">
                    <!-- wp:image {"width":"20px","height":"20px","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
                    <figure class="wp-block-image size-full is-resized"><img
                            style="object-fit:cover;width:20px;height:20px" /></figure>
                    <!-- /wp:image -->

                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
                    <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">+1 (888) 765 4326 / 765
                        4327</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"themeCustom","area":"footer"} /-->