<!-- wp:template-part {"slug":"header","theme":"themeCustom","area":"header"} /-->

<!-- wp:group {"className":"service-header","layout":{"type":"default"}} -->
<div class="wp-block-group service-header">
    <!-- wp:group {"className":"service-header__main","layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group service-header__main">
        <!-- wp:heading {"className":"service-header__title","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"max"} -->
        <h2 class="wp-block-heading service-header__title has-black-800-color has-text-color has-link-color has-max-font-size"
            style="font-style:normal;font-weight:700">Interior CGI</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","className":"service-header__description","style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
        <p
            class="has-text-align-center service-header__description has-gray-800-color has-text-color has-link-color has-s-font-size">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae
            est. Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"categories":["featured"],"patternName":"themeCustom/faq","name":"FAQ"},"className":"faq","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"32px","bottom":"32px"}}},"backgroundColor":"white"} -->
<div class="wp-block-group faq has-white-background-color has-background"
    style="margin-top:0;margin-bottom:0;padding-top:32px;padding-bottom:32px">
    <!-- wp:group {"className":"faq__main container"} -->
    <div class="wp-block-group faq__main container"><!-- wp:group {"className":"faq__main-list"} -->
        <div class="wp-block-group faq__main-list"><!-- wp:group {"className":"faqItem active"} -->
            <div class="wp-block-group faqItem active">
                <!-- wp:group {"className":"faqItem__head","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group faqItem__head">
                    <!-- wp:heading {"level":3,"className":"faqItem__head-title","style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"xl"} -->
                    <h3 class="wp-block-heading faqItem__head-title has-black-800-color has-text-color has-link-color has-xl-font-size"
                        style="font-style:normal;font-weight:600">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <!-- /wp:heading -->

                    <!-- wp:image {"className":"faqItem__head-drop"} -->
                    <figure class="wp-block-image faqItem__head-drop"><img
                            src="https://phinest.studio/wp-content/assets/icons/icon-5.svg" alt="" /></figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"faqItem__main"} -->
                <div class="wp-block-group faqItem__main">
                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
                    <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit
                        dictum.
                        Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus
                        diam
                        vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"faqItem"} -->
            <div class="wp-block-group faqItem">
                <!-- wp:group {"className":"faqItem__head","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group faqItem__head">
                    <!-- wp:heading {"level":3,"className":"faqItem__head-title","style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"xl"} -->
                    <h3 class="wp-block-heading faqItem__head-title has-black-800-color has-text-color has-link-color has-xl-font-size"
                        style="font-style:normal;font-weight:600">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <!-- /wp:heading -->

                    <!-- wp:image {"className":"faqItem__head-drop"} -->
                    <figure class="wp-block-image faqItem__head-drop"><img
                            src="https://phinest.studio/wp-content/assets/icons/icon-5.svg" alt="" /></figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"faqItem__main"} -->
                <div class="wp-block-group faqItem__main">
                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
                    <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit
                        dictum.
                        Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus
                        diam
                        vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"faqItem"} -->
            <div class="wp-block-group faqItem">
                <!-- wp:group {"className":"faqItem__head","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group faqItem__head">
                    <!-- wp:heading {"level":3,"className":"faqItem__head-title","style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"xl"} -->
                    <h3 class="wp-block-heading faqItem__head-title has-black-800-color has-text-color has-link-color has-xl-font-size"
                        style="font-style:normal;font-weight:600">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <!-- /wp:heading -->

                    <!-- wp:image {"className":"faqItem__head-drop"} -->
                    <figure class="wp-block-image faqItem__head-drop"><img
                            src="https://phinest.studio/wp-content/assets/icons/icon-5.svg" alt="" /></figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"faqItem__main"} -->
                <div class="wp-block-group faqItem__main">
                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
                    <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit
                        dictum.
                        Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus
                        diam
                        vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"faqItem"} -->
            <div class="wp-block-group faqItem">
                <!-- wp:group {"className":"faqItem__head","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group faqItem__head">
                    <!-- wp:heading {"level":3,"className":"faqItem__head-title","style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"xl"} -->
                    <h3 class="wp-block-heading faqItem__head-title has-black-800-color has-text-color has-link-color has-xl-font-size"
                        style="font-style:normal;font-weight:600">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <!-- /wp:heading -->

                    <!-- wp:image {"className":"faqItem__head-drop"} -->
                    <figure class="wp-block-image faqItem__head-drop"><img
                            src="https://phinest.studio/wp-content/assets/icons/icon-5.svg" alt="" /></figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"faqItem__main"} -->
                <div class="wp-block-group faqItem__main">
                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
                    <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit
                        dictum.
                        Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus
                        diam
                        vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"faqItem"} -->
            <div class="wp-block-group faqItem">
                <!-- wp:group {"className":"faqItem__head","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                <div class="wp-block-group faqItem__head">
                    <!-- wp:heading {"level":3,"className":"faqItem__head-title","style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}}},"textColor":"black-800","fontSize":"xl"} -->
                    <h3 class="wp-block-heading faqItem__head-title has-black-800-color has-text-color has-link-color has-xl-font-size"
                        style="font-style:normal;font-weight:600">
                        Lorem ipsum dolor sit amet
                    </h3>
                    <!-- /wp:heading -->

                    <!-- wp:image {"className":"faqItem__head-drop"} -->
                    <figure class="wp-block-image faqItem__head-drop"><img
                            src="https://phinest.studio/wp-content/assets/icons/icon-5.svg" alt="" /></figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->

                <!-- wp:group {"className":"faqItem__main"} -->
                <div class="wp-block-group faqItem__main">
                    <!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-800"}}}},"textColor":"gray-800","fontSize":"s"} -->
                    <p class="has-gray-800-color has-text-color has-link-color has-s-font-size">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit
                        dictum.
                        Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus
                        diam
                        vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos.</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"faq__main-images"} -->
        <div class="wp-block-group faq__main-images"><!-- wp:image {"className":"images-item active"} -->
            <figure class="wp-block-image images-item active"><img
                    src="https://phinest.studio/wp-content/assets/images/image-1.png" alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"className":"images-item"} -->
            <figure class="wp-block-image images-item"><img
                    src="https://phinest.studio/wp-content/assets/images/image-1.png" alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"className":"images-item"} -->
            <figure class="wp-block-image images-item"><img
                    src="https://phinest.studio/wp-content/assets/images/image-1.png" alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"className":"images-item"} -->
            <figure class="wp-block-image images-item"><img
                    src="https://phinest.studio/wp-content/assets/images/image-1.png" alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"className":"images-item"} -->
            <figure class="wp-block-image images-item"><img
                    src="https://phinest.studio/wp-content/assets/images/image-1.png" alt="" /></figure>
            <!-- /wp:image -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:query {"queryId":5,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"perPage":10},"metadata":{"categories":["featured"],"patternName":"themeCustom/project-list","name":"Project List"},"attributesForBlocks":{"data-aos":"fade-up"},"align":"wide","className":"product-list","layout":{"type":"default"}} -->
<div class="wp-block-query alignwide product-list" data-aos="fade-up">
    <!-- wp:heading {"textAlign":"center","level":1,"className":"product-list__title","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"elements":{"link":{"color":{"text":"var:preset|color|black-800"}}},"spacing":{"margin":{"bottom":"48px"}}},"textColor":"black-800","fontSize":"max"} -->
    <h1 class="wp-block-heading has-text-align-center product-list__title has-black-800-color has-text-color has-link-color has-max-font-size"
        style="margin-bottom:48px;font-style:normal;font-weight:700">Project</h1>
    <!-- /wp:heading -->

    <!-- wp:post-template {"align":"wide","className":"product-list__template","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"grid","columnCount":4}} -->
    <!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"clamp(15vw, 30vh, 400px)","align":"wide","className":"product-list__featured-image"} /-->
    <!-- /wp:post-template -->
</div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","theme":"themeCustom","area":"footer","attributesForBlocks":{"data-aos":"fade-up"}} /-->